@font-face {
  font-family: MainTextFont;
  font-style: normal;
  font-weight: 900 1000;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: normal;
  font-weight: 700 800;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro SemiLight.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: normal;
  font-weight: 500 600;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro Light.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: normal;
  font-weight: 300 400;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro UltraLight.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: normal;
  font-weight: 100 200;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro Thin.ttf");
}
@font-face {
  font-family: MainTextFont;
  font-style: italic;
  font-weight: 900 1000;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro Italic.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: italic;
  font-weight: 700 800;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro SemiLight Italic.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: italic;
  font-weight: 500 600;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro Light Italic.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: italic;
  font-weight: 300 400;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro UltraLight Italic.ttf");
}

@font-face {
  font-family: MainTextFont;
  font-style: italic;
  font-weight: 100 200;
  src: url("@/Assets/Fonts/Cocogoose/Cocogoose Pro Thin Italic.ttf");
}

/* ==================== */

@font-face {
  font-family: TitleFont;
  font-style: normal;
  font-weight: normal;
  src: url("@/Assets/Fonts/TexasGrunge/TexasGrunge.ttf")
}

/* ==================== */

@font-face {
  font-family: Minecraft;
  src: url("@/Assets/Fonts/Minecraft/Minecraft.otf")
}